<dom-module id="my-greeting">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    Hola !!!
  </template>

  <script>
    class MyGreeting extends Polymer.Element {
      static get is() {
        return 'my-greeting';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {};
      }

      _responseGreeting(evt) {
        console.log('_responseGreeting', evt)
      }
    }




    customElements.define(MyGreeting.is, MyGreeting);
  </script>

</dom-module>